body{
    background-image: url(./background_momento_2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.hidden{
    display: none;
}